mixin meta(data)
	meta(name=data.name content=data.content)

mixin socialLink(data)
	a.social-item(
		href=data.address
		target="_blank"
		rel="noopener noreferrer"
	)
		i(class=data.icon)
		span.social-title #{data.title}