mixin meta(name)
	- content = head.meta[name]
	meta(name=name content=content)

mixin socialLink(data)
	a.social-item(
		href=data.address
		target="_blank"
		rel="noopener noreferrer"
	)
		i(class=data.icon)
		span.social-title #{data.title}