mixin meta(name)
	- var content = head.meta[name];
	meta(name=name content=content)

mixin link(name)
	- var data = head.link[name];

	if Array.isArray(data)
		each val in data
			link(rel=name)&attributes(val)
	else
		link(rel=name href=data)

mixin socialLink(data)
	td
		a.social.item(
			href=data.address
			target="_blank"
			rel="noopener noreferrer"
		)
			i.fa-3x(class=data.icon)

mixin iconSpace
	!="&nbsp;&nbsp;"