head
	meta(charset='utf-8')

	title= title

	//- Standard meta
	meta(name="viewport" content="width=device-width, initial-scale=1.0,viewport-fit=cover")
	meta(name="description" content="Personal website of Joshua Moore, software developer in Edmonton, Alberta")
	meta(name="keywords" content="joshua,moore,josh,programmer,developer,edmonton,alberta,software,dev")
	meta(name="author" content="Joshua Moore")
	link(rel="me" href="mailto:josh.moore@jmoore.dev")

	//- Standard favicon
	link(rel="icon" type="image/x-icon" href="https://space.jmoore.dev/images/favicon.ico")
	//- Recommended favicon format
	link(rel="icon" type="image/png" href="https://space.jmoore.dev/images/favicon.png")

	//- Meta for Google
	meta(name="google" content="nositelinkssearchbox")
	meta(name="google" content="notranslate")

	//- Meta for Apple
	link(rel="apple-touch-icon" href="https://space.jmoore.dev/images/apple-touch-icon.png")
	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="apple-mobile-web-app-status-bar-style" content="black")

	//- Styles
	link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap")
	link(rel="stylesheet" href="css" type="text/css")

	//- Scripts
	script(
		src="https://kit.fontawesome.com/f2f926ac2d.js"
		crossorigin="anonymous"
		integrity="sha384-7uTRzazbrutfIzOojrJw4QL+wCBwLn03McGtkCd53kDbTPTqB20x+Ah36TGTcRHB"
	)
//-
	script(
		src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"
		crossorigin="anonymous"
		integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY="
	)