div
	img.index.profile#photo(src=DATA.photo.src alt=DATA.photo.alt)
	strong.index.profile#name #{DATA.name}
.row.index#row
	.col-6
		span.index.profile#career #{DATA.career}
	.col-6
		span.index.profile#location #{DATA.location}