div
	img.index.profile#photo(src=main.index.photo.src alt=main.index.photo.alt)
	strong.index.profile#name #{main.index.name}
.row.index#row
	.col-6: span.index.profile#career #{main.index.career}
	.col-6: span.index.profile#location #{main.index.location}