extends ../bus
block bus
	mixin busRow(...times)
		- var c = times[2] === '- - - -' ? 'stop-0' : 'stop-2';
		tr.bus.row
			td.bus.cell.stop-1= times[0]
			td.bus.cell(class=c)= times[1]
			td.bus.cell.stop-3= times[2]

	table.bus#table
		tr.bus.row#header
			th.bus.cell= data.station1
			th.bus.cell= data.station2
			th.bus.cell= data.station1
		for row in data.schedule
			+busRow(row[0], row[1], row[2])