mixin education(edu)
	span.span-h3=edu.school
	.about.education#body: ul
		li=edu.degree
		li=edu.city
		li #{edu.start} to #{edu.end}
.about.education
	.about.education#header
		span.span-h2 Education
	.about.education#body
		br
		+education(data.edu.macewan)
		+education(data.edu.nait)