mixin education(edu)
	span.span-h3=edu.school
	.about.education#body
		ul
			li=edu.city
			li=edu.degree
			li=edu.start
			li=edu.end
mixin job(job)
	span.span-h3=job.company
	.about.jobs#body
		ul
			li=job.title
			li=job.city
			li=job.when

.about.education
	.about.education#header
		//-i.far.fa-school.fa-2x
		//-=" "
		span.span-h2 Education
	.about.education#body
		br
		+education(About.edu.macewan)
		+education(About.edu.nait)

.about.jobs
	.about.jobs#header
		//-i.far.fa-briefcase.fa-2x
		//-=" "
		span.span-h2 Work Experience
	.about.jobs#body
		br
		+job(About.jobs.pcl)
		+job(About.jobs.uofa)