div
	img#photo(src=DATA.photo.src alt=DATA.photo.alt)
div
	strong#name #{DATA.name}
	br
	em#career #{DATA.career}
	br
	i.fas.fa-map-marker-alt
	//- Adds a space between the icon and location
	=" "
	span#location #{DATA.location}